body {
	background-color: #1b6ca8;
}

form {
	text-align: center;
	padding: 5% 30%;
}

h1 {
	text-align: center;
	color: #fff;
}

label {
	font-family: 'Montserrat', sans-serif;	
	font-size: 1.5rem;
	color: #fff;
	padding: 40px;
}
